<div class="container mx-auto px-4 py-10">
    <div class="bg-cover bg-center h-64 flex items-center justify-center"
        style="background-image: url('{{ packageDetails?.packageImage }}');">
        <div class="bg-black bg-opacity-50 p-4 rounded text-white">
            <h2 class="text-3xl font-bold">{{ packageDetails?.packageName }}</h2>
            <p class="text-xl">{{ packageDetails?.packageCountry }}, {{ packageDetails?.packageCity }}</p>
        </div>
    </div>
    <div class="mt-8 max-w-md mx-auto p-6 bg-white shadow-md rounded">
        <form (ngSubmit)="bookPackage()">
            <div class="mb-4">
                <label for="bookingDate" class="block text-sm font-medium text-gray-700">Booking Date</label>
                <input type="date" id="bookingDate" [(ngModel)]="bookingDate" name="bookingDate"
                    class="mt-1 p-2 border rounded w-full" required>
            </div>
            <div class="mb-4">
                <label for="bookingRooms" class="block text-sm font-medium text-gray-700">Number of Persons</label>
                <input type="number" id="bookingRooms" [(ngModel)]="bookingRooms" name="bookingRooms"
                    class="mt-1 p-2 border rounded w-full" required>
            </div>
            <button type="submit"
                class="bg-primary text-white py-2 px-4 rounded hover:bg-secondary transition duration-300">Confirm
                Booking</button>
        </form>
    </div>
</div>
